<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxg.springboot.mapper.GoodMapper">

	
	<select id="queryall" resultType="com.lxg.springboot.model.Good" >
		select * from goodonsale where storeid=#{storeid}
	</select>
	
	<select id="query" parameterType="com.lxg.springboot.model.Good"  resultType="com.lxg.springboot.model.Good">
		select * from goodonsale where code=#{code} and storeid=#{storeid};
	</select>
	
	<select id="querybyCode" parameterType="com.lxg.springboot.model.Good"  resultType="com.lxg.springboot.model.Good">
		select * from goodonsale where code=#{code} and storeid=#{storeid};
	</select>
	
	<select id="update" parameterType="com.lxg.springboot.model.Good">
		update goodonsale set amount=#{amount},price=#{price},name=#{name},specifi=#{specifi},total=#{total} where code=#{code} and storeid=#{storeid};
	</select>
	
	<select id="insert" parameterType="com.lxg.springboot.model.Good">
		insert into goodonsale(name,specifi,code,amount,price,storeid,total)
		values (#{name},#{specifi},#{code},#{amount},#{price},#{storeid},#{total})
	</select>
	
	<select id="amountrank" parameterType="com.lxg.springboot.model.OrderGood" resultType="com.lxg.springboot.model.OrderGood">
		select code,name,sum(amount) amount from (SELECT ordergood.code,ordergood.name,ordergood.amount,ordergood.price,ordergood.storeid,ordergood.orderNo,orders.orderNo new,orders.state from ordergood LEFT JOIN orders on(ordergood.orderNo=orders.orderNo)) as temp where storeid=#{storeid} and state='1' group by name ORDER BY amount DESC
	</select>
	
	<select id="moneyrank" parameterType="com.lxg.springboot.model.OrderGood" resultType="com.lxg.springboot.model.OrderGood">
		select code,name,sum(amount*price) amount from (SELECT ordergood.code,ordergood.name,ordergood.amount,ordergood.price,ordergood.storeid,ordergood.orderNo,orders.orderNo new,orders.state from ordergood LEFT JOIN orders on(ordergood.orderNo=orders.orderNo)) as temp where storeid=#{storeid} and state='1' group by name ORDER BY amount DESC
	</select>
</mapper>  